footer{
    background-color: $ft-bgcolor;
    margin-top: auto;
    align-items: center;
    color: $ft-txtcolor;
    nav{
        padding-top: nth($size, 6);
        text-align: right;
        a{
            padding: nth($size, 4);
            margin: nth($size, 3);
            i{
                color: $ft-txtcolor;
            }
         }
    }
}