footer{
    background-color: $ft-bgcolor;
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    color: $ft-txtcolor;
    nav{
        a{
            padding: nth($size, 4);
            margin: nth($size, 3);
            i{
                color: $ft-txtcolor;
            }
         }
    }
}